<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ getname() }}</h1>
      <button class="btn ui-button-icon-primary" [disabled]="vijay">Property</button>
      <button class="btn ui-button-icon-primary" (click)="Addserver()" >Addserver</button>
      <h1 *ngIf='serverB'>{{ server}}</h1>
      <input type="text" class="form-control" [(ngModel)]='Servername' >
      <h1>{{Servername}}</h1>
    </div>
  </div>
</div>
